html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    position: relative;
}

header {
    margin: 0;
    padding: 5px;
    background-color:bisque;

    border-bottom: none;
    border: 5px solid gold;
    box-sizing: border-box;
}

p {
    margin-left: 30px;
}

nav {
    margin-left: 10 px;
    background-color: gold;
    
    display: flex;
    align-items: center;
    padding-left: 5px;
    box-shadow: 10px 0 10px rgba(0,0,0,0.5);

}

div {
   
    flex-flow: row;
    border-right: 5px solid red;
    box-sizing: border-box;
}

article {
    background-color: cornflowerblue;
    padding: 10px;
   height: 850px;
    display: flex;
    flex-flow: column;
    border-right: 5px solid white;
    box-sizing: border-box;
}

section {
    background-color:yellowgreen;
    width: 78%;
    margin: 5px;
    flex-grow: 1;
    padding: 5px 50px;
    box-shadow: 10px 0 10px rgba(0,0,0,0.5);
}

aside {
    background-color: darkred;
    padding: 5px;
    
    display: flex;
    border-left: 5px solid whitesmoke;
    box-sizing: border-box;

}

footer{
    margin: 0;
    padding: 0px;
    background-color: gold;
    
    border-top: none;
    border: 5px solid whitesmoke;
    box-sizing: border-box;
}

